<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/static/table.css}" />
<script src="https://use.fontawesome.com/fec1def459.js"></script>
<title>classrooms!</title>
</head>
<body>
	<div th:replace="header :: navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="panel">
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<h4 class="title pull-left">Classroom List</h4>
								<div class="row pull-right">
									<div class="input-group mb-3">
										<form action="#" th:action="@{/classrooms/add}"	th:object="${classroom}" method="post">
											<label for="number">Number:</label> 
											<input type="number" class="form-group" th:field="*{number}" id="number" style="width: 200px;"> 
											<label for="address">Address:</label>
											<input type="text" class="form-group" th:field="*{address}"	id="address" style="width: 200px;"> 
											<label for="capacity">Capacity:</label> 
											<input type="number" class="form-group" th:field="*{capacity}" id="capacity" style="width: 200px;">
											<button class="btn btn-sm btn-primary pull-right" type="submit" th:value="classroom">Create</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Classroom ID</th>
									<th>Number</th>
									<th>Address</th>
									<th>Capacity</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="classroom : ${classrooms}">
									<td th:text="${classroom.id}" />
									<td th:text="${classroom.number}" />
									<td th:text="${classroom.address}" />
									<td th:text="${classroom.capacity}" />
									<td>
										<ul class="action-list">
											<li>
												<form action="#" th:action="@{/classrooms/delete}" th:object="${classroom}" method="post">
													<input class="form-control" type="hidden" th:value="${classroom.id}" id="id" name="id" />
													<button type="submit" class="btn btn-danger" th:value="classroom">
														<i class="fa fa-trash"></i>
													</button>
												</form>
											</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>