<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/static/table.css}" />
<script src="https://use.fontawesome.com/fec1def459.js"></script>
<title th:text="#{label.timetable}"></title>
</head>
<body>
	<div th:replace="header :: navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="panel">
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<h4 class="title pull-left" th:text=${group.name}></h4>
							</div>
						</div>
					</div>
					<div class="panel-body table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th th:text="#{label.date}"></th>
                                    <th th:text="#{label.startlesson}"></th>
                                    <th th:text="#{label.endlesson}"></th>
									<th th:text="#{label.teacher}"></th>
									<th th:text="#{label.course}"></th>
                                    <th th:text="#{label.classroom}"></th>
                                    <th th:text="#{label.lessonlink}"></th>
                                    <th th:text="#{label.actions}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="timetable : ${timetables}">
									<td th:text="${timetable.day}" />
									<td>
										<table>
											<tbody>
												<tr th:each="lesson : ${timetable.lessons}">
													<td th:text="${lesson.startLesson.toLocalTime}"></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table>
											<tbody>
												<tr th:each="lesson : ${timetable.lessons}">
													<td th:text="${lesson.endLesson.toLocalTime}" />
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table>
											<tbody>
												<tr th:each="lesson : ${timetable.lessons}">
													<td th:text="${lesson.teacher.name}" />
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table>
											<tbody>
												<tr th:each="lesson : ${timetable.lessons}">
													<td th:text="${lesson.course.name}" />
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table>
											<tbody>
												<tr th:each="lesson : ${timetable.lessons}">
													<td th:text="${lesson.classroom.number}" />
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table>
											<tbody>
												<tr th:each="lesson : ${timetable.lessons}">
													<td th:text="${lesson.lessonLink}" />
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table>
											<tbody>
												<tr th:each="lesson : ${timetable.lessons}">
													<ul class="action-list">
														<li>
															<form action="#" th:action="@{/timetables/edit}"
																th:object="${lesson}" method="get">
																<input class="form-control" type="hidden"
																	th:value="${lesson.id}" id="id" name="id" /> <input
																	class="form-control" type="hidden"
																	th:value="${lesson.startLesson}" id="startLesson"
																	name="startLesson" /> <input class="form-control"
																	type="hidden" th:value="${lesson.endLesson}"
																	id="endLesson" name="endLesson" /> <input
																	class="form-control" type="hidden"
																	th:value="${lesson.onlineLesson}" id="onlineLesson"
																	name="onlineLesson" /> <input class="form-control"
																	type="hidden" th:value="${lesson.lessonLink}"
																	id="lessonLink" name="lessonLink" /> <input
																	class="form-control" type="hidden"
																	th:value="${lesson.group.name}" id="groupName"
																	name="groupName" /> <input class="form-control"
																	type="hidden" th:value="${lesson.teacher.email}"
																	id="teacherEmail" name="teacherEmail" /> <input
																	class="form-control" type="hidden"
																	th:value="${lesson.course.name}" id="courseName"
																	name="courseName" /> <input class="form-control"
																	type="hidden" th:value="${lesson.classroom.number}"
																	id="classroomNumber" name="classroomNumber" />
																<button type="submit" class="btn btn-primary"
																	th:value="lesson">
																	<i class="fa fa-pencil-square-o"></i>
																</button>
															</form>
														</li>
														<li>
															<form action="#" th:action="@{/timetables}"
																th:object="${lesson}" th:method="delete">
																<input class="form-control" type="hidden"
																	th:value="${lesson.startLesson}" id="startLesson"
																	name="startLesson" /> <input class="form-control"
																	type="hidden" th:value="${lesson.id}" id="id" name="id" />
																<button type="submit" class="btn btn-danger"
																	th:value="lesson">
																	<i class="fa fa-trash"></i>
																</button>
															</form>
														</li>
													</ul>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>