<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/static/table.css}" />
<script src="https://use.fontawesome.com/fec1def459.js"></script>
<title>groups!</title>
</head>
<body>
	<div th:replace="header :: navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="panel">
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<h4 class="title pull-left">Group List</h4>
								<div class="row pull-right">
									<div class="input-group mb-3">
										<form action="#" th:action="@{/groups}"	th:object="${group}" method="post">
											<label for="name">Group name:</label> 
											<input type="text" class="form-group" th:field="*{name}" id="name">
											<button class="btn btn-sm btn-primary pull-right" type="submit" th:value="timetable">Create group</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Group ID</th>
									<th>Name</th>
									<th>Students</th>
									<th>Add student</th>
									<th>Delete student</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="group : ${groups}">
									<td th:text="${group.id}" />
									<td th:text="${group.name}" />
									<td>
										<table>
											<tbody>
												<tr th:each="student,rowStat : ${group.students}">
													<td th:text="${rowStat.count}">1</td>
													<td th:text="${student.name}" />
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<ul class="action-list">
											<li>
												<form action="#" th:action="@{/groups/student}" th:object="${student}" method="post">
													<input class="form-control" type="hidden" th:value="${group.name}" id="groupName" name="groupName" />
													<select id="id" th:field="*{id}" class="form-group"	aria-label="Default select example">
														<option th:each="student : ${students}"	th:value="${student.id}" th:text="${student.name}"></option>
													</select>
													<button type="submit" class="btn btn-primary" th:value="student">
														<i class="fa fa-plus"></i>
													</button>
												</form>
											</li>
										</ul>
									</td>
									<td>
										<ul class="action-list">
											<li>
												<form action="#" th:action="@{/groups/student}" th:object="${student}" th:method="delete">
													<input class="form-control" type="hidden" th:value="${group.name}" id="groupName" name="groupName" />
													<select id="id" th:field="*{id}" class="form-group"	aria-label="Default select example">
														<option th:each="student : ${students}"	th:value="${student.id}" th:text="${student.name}"></option>
													</select>
													<button type="submit" class="btn btn-danger" th:value="student">
														<i class="fa fa-trash"></i>
													</button>
												</form>
											</li>
										</ul>
									</td>
									<td>
										<ul class="action-list">
											<li>
												<form action="#" th:action="@{/groups/}" th:object="${group}" th:method="delete">
													<input class="form-control" type="hidden" th:value="${group.id}" id="id" name="id" />
													<button type="submit" class="btn btn-danger" th:value="teacher">
														<i class="fa fa-trash"></i>
													</button>
												</form>
											</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-heading">
						<div class="row pull-right">
							<div class="input-group mb-3">
								<form action="#" th:action="@{/timetables/group}"	th:object="${timetable}" method="post">
									<select id="name" th:field="*{groupName}" class="form-group" aria-label="Default select example">
										<option th:each="group : ${groups}" th:value="${group.name}" th:text="${group.name}"></option>
									</select> <input class="form-group" type="date" th:value="${day}" id="day" name="day" />
									<button class="btn btn-sm btn-primary pull-right" type="submit"	th:value="timetable">Get group timetable</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>