<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="navbar">
		<div class="container">
		  <div class="navigation">			
			<ul class="nav justify-content-end" style="background-color: #f5f5f5;">			
				<li class="nav-item" ><a class="nav-link" style="color: #333;" href="/DepartmentUniversity/students"><i class="fa fa-users"></i>Students</a></li>
				<li class="nav-item"><a class="nav-link" style="color: #333;" href="/DepartmentUniversity/teachers"><i class="fa fa-users"></i>Teachers</a></li>
				<li class="nav-item"><a class="nav-link" style="color: #333;" href="/DepartmentUniversity/groups"><i class="fa fa-graduation-cap"></i>Groups</a></li>
				<li class="nav-item"><a class="nav-link" style="color: #333;" href="/DepartmentUniversity/courses"><i class="fa fa-book"></i>Courses</a></li>
				<li class="nav-item"><a class="nav-link" style="color: #333;" href="/DepartmentUniversity/classrooms"><i class="fa fa-university"></i>Classrooms</a></li>
				<li class="nav-item"><a class="nav-link" style="color: #333;" href="/DepartmentUniversity/timetables"><i class="fa fa-calendar"></i>Timetables</a></li>
				<li class="nav-item"><a class="btn btn-sm btn-dark" href="/DepartmentUniversity/" >Login</a></li> 			
			</ul>
		  </div>				
		</div>
	</div>
</body>
</html>