<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="navbar">
		<div class="container">
			<div class= "navbar-color">
			<ul class="navbar navbar-dark bg-dark justify-content-end">			
				<li class="nav-item"><a class="nav-link" href="/DepartmentUniversity/students"><i class="fa fa-users"></i>Students</a></li>
				<li class="nav-item"><a class="nav-link" href="/DepartmentUniversity/teachers"><i class="fa fa-users"></i>Teachers</a></li>
				<li class="nav-item"><a class="nav-link" href="/DepartmentUniversity/groups"><i class="fa fa-graduation-cap"></i>Groups</a></li>
				<li class="nav-item"><a class="nav-link" href="/DepartmentUniversity/courses"><i class="fa fa-book"></i>Courses</a></li>
				<li class="nav-item"><a class="nav-link" href="/DepartmentUniversity/classrooms"><i class="fa fa-university"></i>Classrooms</a></li>
				<li class="nav-item"><a class="nav-link" href="/DepartmentUniversity/timetables"><i class="fa fa-calendar"></i>Timetables</a></li>			
			</ul>
			</div>
		</div>
	</div>
</body>
</html>