<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/static/table.css}" />
<script src="https://use.fontawesome.com/fec1def459.js"></script>
<title th:text="#{label.students}"></title>
</head>
<body>
	<div th:replace="header :: navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="panel">
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<h4 class="title pull-left" th:text="#{label.students}"></h4>
								
								<a href="/DepartmentUniversity/students/new"	class="btn btn-sm btn-primary pull-right" th:text="#{label.addstudent}"></a>
							</div>
						</div>
					</div>
					<div class="panel-body">
					   <div class="input-group mb-3">
                           <form action="#" th:action="@{/students/login}" th:object="${student}" method="post">                                
                                <input type="email" class="form-group" th:value="${email}" id="email" name="email" th:placeholder="#{label.email}" autofocus required />
                                <input type="password" class="form-group" th:value="${password}" id="password" name="password" th:placeholder="#{label.password}" required />                                
                                <button type="submit" class="btn btn-success" th:text="#{label.signin}"></button>                                                  
                            </form>
                            <p th:text="${message}"></p>
                        </div>
					</div>
					<div class="panel-body table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th th:text="#{label.id}"></th>
									<th th:text="#{label.gender}"></th>
									<th th:text="#{label.name}"></th>
									<th th:text="#{label.email}"></th>
									<th th:text="#{label.phone}"></th>
									<th th:text="#{label.courses}"></th>
									<th th:text="#{label.addcourse}"></th>
									<th th:text="#{label.deletecourse}"></th>
									<th th:text="#{label.actions}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="student : ${students}">
									<td th:text="${student.id}" />
									<td th:text="${student.sex}" />
									<td th:text="${student.name}" />
									<td th:text="${student.email}" />
									<td th:text="${student.phone}" />
									<td>
										<table>
											<tbody>
												<tr th:each="course,rowStat : ${student.courses}">
													<td th:text="${rowStat.count}">1</td>
													<td th:text="${course.name}" />
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<ul class="action-list">
											<li>
												<form action="#" th:action="@{/students/course}"	th:object="${student}" method="post">
													<input class="form-control" type="hidden" th:value="${student.id}" id="id" name="id" /> 
													   <select	id="courseName" th:field="*{courseName}" class="form-group" aria-label="Default select example">
														  <option th:each="course : ${courses}"	th:value="${course.name}" th:text="${course.name}"></option>
													   </select>
													<button type="submit" class="btn btn-primary" th:value="student">
														<i class="fa fa-plus"></i>
													</button>
												</form>
											</li>
										</ul>
									</td>
									<td>
										<ul class="action-list">
											<li>
												<form action="#" th:action="@{/students/course}" th:object="${student}" th:method="delete">
													<input class="form-control" type="hidden" th:value="${student.id}" id="id" name="id" /> 
													   <select	id="courseName" th:field="*{courseName}" class="form-group" aria-label="Default select example">
														  <option th:each="course : ${courses}" th:value="${course.name}" th:text="${course.name}"></option>
													   </select>
													<button type="submit" class="btn btn-danger" th:value="student">
														<i class="fa fa-trash"></i>
													</button>
												</form>
											</li>
										</ul>
									</td>
									<td>
										<ul class="action-list">
										    <li>
                                                <form action="#" th:action="@{/students/edit}" th:object="${student}" method="post">
                                                    <input class="form-control" type="hidden" th:value="${student.id}" id="id" name="id"/>                                                    
                                                    <input class="form-control" type="hidden" th:value="${student.name}" id="name" name="name"/>
                                                    <input class="form-control" type="hidden" th:value="${student.email}" id="email" name="email"/>
                                                    <input class="form-control" type="hidden" th:value="${student.phone}" id="phone" name="phone"/>
                                                    <button type="submit" class="btn btn-primary" th:value="student">
                                                        <i class="fa fa-pencil-square-o"></i>
                                                    </button>
                                                </form>
                                            </li>
											<li>
												<form action="#" th:action="@{/students}" th:object="${student}" th:method="delete">
													<input class="form-control" type="hidden" th:value="${student.id}" id="id" name="id" />
													<button type="submit" class="btn btn-danger" th:value="student">
														<i class="fa fa-trash"></i>
													</button>
												</form>
											</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-sm-6 col-xs-6">
								<ul class="pagination hidden-xs pull-right">
									<li><a href="/DepartmentUniversity/students/-1">«</a></li>
									<li><a href="/DepartmentUniversity/students/1">»</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>