<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/static/profile.css}" />
<script src="https://use.fontawesome.com/fec1def459.js"></script>
<title th:text="#{label.studentprofile}"></title>
</head>
<body>
<div class="container">
            <div class="navigation">
                <ul class="nav justify-content-end"
                    style="background-color: #f5f5f5;">
                    <li class="nav-item" style="color: #333;"> <a class="nav-link"  th:href="@{~/DepartmentUniversity/students}"> <span style="color: #333;" th:text="#{label.students}"/><i style="color: #333;" class="fa fa-users"></i></a></li>
                    <li class="nav-item"> <a class="nav-link"  th:href="@{~/DepartmentUniversity/teachers}"> <span style="color: #333;" th:text="#{label.teachers}"/><i style="color: #333;" class="fa fa-users"></i></a></li>                  
                    <li class="nav-item"> <a class="nav-link"  th:href="@{~/DepartmentUniversity/groups}"> <span style="color: #333;" th:text="#{label.groups}"/><i style="color: #333;" class="fa fa-graduation-cap"></i></a></li>
                    <li class="nav-item"> <a class="nav-link"  th:href="@{~/DepartmentUniversity/courses}"> <span style="color: #333;" th:text="#{label.courses}"/><i style="color: #333;" class="fa fa-book"></i></a></li>
                    <li class="nav-item"> <a class="nav-link"  th:href="@{~/DepartmentUniversity/classrooms}"> <span style="color: #333;" th:text="#{label.classrooms}"/><i style="color: #333;" class="fa fa-university"></i></a></li>
                    <li class="nav-item"> <a class="nav-link"  th:href="@{~/DepartmentUniversity/timetables}"> <span style="color: #333;" th:text="#{label.timetables}"/><i style="color: #333;" class="fa fa-calendar"></i></a></li>
                    <span style="float: right">
                        <a th:href="@{/?lang=en}"><img th:src="@{~/DepartmentUniversity/static/images/united-kingdom.png}" width="24" height="24" alt="English"></a>   
                        <a th:href="@{/?lang=ru}"><img th:src="@{~/DepartmentUniversity/static/images/russia.png}" width="24" height="24" alt="Russian"></a>
                    </span>                 
                </ul>
            </div>
        </div>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">                                
                                <h6 class="f-w-600" th:text="${student.name}"></h6>
                                <img th:src="@{${student.photo}}" alt="Avatar">                                                                 
                            </div>                            
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600" th:text="#{label.information}"></h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600" th:text="#{label.email}"></p>
                                        <h6 class="text-muted f-w-400" th:text="${student.email}"></h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600" th:text="#{label.phone}"></p>
                                        <h6 class="text-muted f-w-400" th:text="${student.phone}"></h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600" th:text="#{label.courses}"></h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                    <table>
                                            <tbody>
                                                <tr th:each="course,rowStat : ${student.courses}">
                                                    <td th:text="${rowStat.count}">1</td>
                                                    <td th:text="${course.name}" />
                                                </tr>
                                            </tbody>
                                    </table>                                                                              
                                    </div>                                    
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>